include:
  - project: "GNOME/citemplates"
    file: "templates/default-rules.yml"
  - component: "gitlab.gnome.org/GNOME/citemplates/gnomeos-basic-ci@master"
    inputs:
      meson-options: "-Ddocs=true -Dplugin-deviced=true"
      lsan-options: "suppressions=${CI_PROJECT_DIR}/testsuite/lsan.supp"
  - component: "gitlab.gnome.org/GNOME/citemplates/release-service@master"
    inputs:
      dist-job-name: "build-gnomeos"
  - component: "gitlab.gnome.org/GNOME/citemplates/basic-deploy-docs@master"

test:
  image: 'registry.fedoraproject.org/fedora:41'
  stage: "build"
  needs: []
  variables:
    DEPS: >-
      flatpak-devel
      gcc
      gcc-c++
      gettext
      gi-docgen
      git
      glib2-devel
      gnutls-devel
      gobject-introspection-devel
      gtksourceview5-devel
      json-glib-devel
      libatomic
      libpeas-devel
      liburing-devel
      meson
      ninja-build
      redhat-rpm-config
      sysprof-capture-devel
      vala
      avahi-gobject-devel
      NetworkManager-libnm-devel
      libappstream-glib-devel
      readline-devel
      libyaml-devel
      libgit2-devel
      libxml2-devel
      sqlite-devel
      python3-devel
      python3-gobject-devel
      enchant2-devel
  before_script:
    - "dnf install -y $DEPS"
  script:
    - 'meson setup _build . -Ddocs=false -Dintrospection=disabled -Dplugin-deviced=false'
    - 'cd _build'
    - 'ninja test'
