paneldockchild.start panelframe:last-child entry.statusbar:dir(ltr),
paneldockchild.end panelframe:last-child entry.statusbar:dir(rtl) {
  border-bottom-left-radius: var(--window-radius);
} 
paneldockchild.start panelframe:last-child entry.statusbar:dir(rtl),
paneldockchild.end panelframe:last-child entry.statusbar:dir(ltr) {
  border-bottom-right-radius: var(--window-radius);
}
paneldockchild.start,
paneldockchild.end {
  background: var(--sidebar-bg-color);
  color: var(--sidebar-fg-color);
}
paneldockchild paneldockchild.end {
  background: var(--secondary-sidebar-bg-color);
}
paneldockchild.start:backdrop,
paneldockchild.end:backdrop {
  background: var(--sidebar-backdrop-color);
  transition: 200ms ease-in-out;
}
paneldockchild.start .frameheader,
paneldockchild.end .frameheader {
  border-top: 1px solid transparent;
}
paneldockchild.start panelresizer > widget > separator,
paneldockchild.end panelresizer > widget > separator {
  background-color: var(--sidebar-shade-color);
}
paneldockchild.start .view,
.narrow listview {
  background: transparent;
}
stack.narrow-sidebar listview row,
paneldockchild.start listview row {
  padding: 0;
}
stack.narrow-sidebar listview row treeexpander,
paneldockchild.start listview row treeexpander {
  padding: 6px 6px 6px 12px;
}
paneldockchild.end listview.navigation-sidebar row,
paneldockchild.start listview.navigation-sidebar row {
  margin-top: 0;
  margin-bottom: 0;
}
paneldockchild.end listview.navigation-sidebar treeexpander > image:first-child,
paneldockchild.start listview.navigation-sidebar treeexpander > image:first-child {
  margin-right: 6px;
}

.global-search search {
  padding: 12px;
  border-bottom: 1px solid var(--border-color);
}

.global-search search > image {
  -gtk-icon-size: 24px;
}

.global-search search > text {
  font-size: 1.66666em;
  margin-left: 6px;
  margin-right: 6px;
}

.global-search search > text placeholder {
  opacity: 0.55;
}

.global-search search > button.close {
  padding: 2px;
  min-width: 24px;
  min-height: 24px;
  margin-right: 6px;
}

.global-search .preview-bin {
  border-left: 1px solid color-mix(in srgb, var(--border-color) 25%, transparent);
}

panelstatusbar {
  min-height: 38px;
}
panelstatusbar foundrypanelbar {
  padding-left: 2px;
  padding-right: 2px;
}
panelstatusbar foundrypanelbar button {
  margin-top: 2px;
  margin-bottom: 2px;
}

foundrypathbar {
  padding-left: 4px;
  padding-right: 4px;
  min-height: 46px;
}
foundrypathbar foundrypathbarbutton button {
  padding: 3px 9px;
  min-height: 30px;
}
foundrypathbar foundrypathbarbutton.root button {
  background: transparent;
}

/* separation from headerbar. */
paneldockchild.end {
 border-top: 1px solid alpha(var(--border-color), .6);
 margin-top: -1px;
}

foundryoperationbutton {
  margin-top: 3px;
  margin-left: 6px;
  margin-right: 6px;
}
foundryoperationbutton:first-child {
  margin-top: 6px;
}
foundryoperationbutton:last-child {
  margin-bottom: 6px;
}
