## Class {{class.get_attribute("c:type")}}

{{constructors = class.filter_typed(Foundry.GirNodeType.CONSTRUCTOR)}}
{{if constructors.get_n_items() > 0}}
### Constructors
{{for constructor in constructors}}

{{include "constructor.tmpl"}}
{{end}}
{{end}}

{{properties = class.filter_typed(Foundry.GirNodeType.PROPERTY)}}
{{if properties.get_n_items() > 0}}
### Properties
{{for property in properties}}

{{include "property.tmpl"}}
{{end}}
{{end}}

{{methods = class.filter_typed(Foundry.GirNodeType.METHOD)}}
{{if methods.get_n_items() > 0}}
### Methods
{{for method in methods}}

{{include "method.tmpl"}}
{{end}}
{{end}}
